 body {
            margin: 0;
            font-family: Arial, sans-serif;
          background-image: url( https://png.pngtree.com/thumb_back/fw800/background/20221108/pngtree-blue-smoke-against-black-background-texture-blue-color-photo-image_40763612.jpg);
          
          background-size: cover;
          background-repeat: no-repeat;
        }
        header {
            background: #ffffff;
            color: #000000;
            padding: 20px;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
        }
        .container {
            max-width: 90%;
            height: 105%;
            margin: 30px auto;
            padding: 20px;
            background-color: rgba(255,255,255,0.15);
            backdrop-filter: blur(5px);
            border-radius: 30px;
            border: 2px solid rgb(0, 128, 255);
            animation:side 2s ease-out;
            box-shadow: 0 0 25px #0077ff;
        }
     .container3{
    
        width: 10%;
        height: 20%;
        z-index: 1000;
        position: absolute;
        margin-left: 1300px;
        margin-top: 85px;
     }
     .search-box{
        width: 40%;
        height: 7%;
        border-radius: 40px;
        position: absolute;
        margin-left: 820px;
        margin-top: 203px;
        background-color: #000000;
        z-index: 1000;
        border: 2px solid rgb(255, 255, 255);
       animation:side 2s ease-out;
     }
     
     .placeholder{
        color: #000000;
        

      }
input {
    background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 67vh;
  height: 6vh;
  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 5px;
  position: absolute;
  z-index: 1000;
  border: 3px solid rgb(0, 0, 0);
}


        .glass-container{
            width: 99%;
            height: 320px;
            background-color:rgba(255,255,255,0.15);
            backdrop-filter: blur(5px);
            border: 2px solid rgb(0, 170, 255);
           padding-top: 100px;
           margin-top: 20px;
           
        }
        .box-top{
            padding: 10px;
            width: 40%;
            height: 340px;
            background-color: rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(5px);
            position: absolute;
            margin-top: -65px;
            margin-left: 50px;
            border-radius: 50px;
            border:2px solid rgb(0, 94, 255);
            color: #fff;
            font-size: larger;
            animation:sideUp 2s ease-out;
            perspective: 900px;
transition: 2s;
   box-shadow: 0 0px 25px rgb(0, 123, 255);
        }
        .box-top p{
            margin-left: 15px;
            animation:side 2s ease-out;
            color: #ffffff;
            text-decoration: dotted;
            font-family:"Montserrat", sans-serif ;
        }
        .box-top:hover{
           transition: 2s;
            box-shadow: 0 0px 35px rgb(255, 255, 255);
           
        }
       
         nav { 
            width: 100%;
            height: 57px;
         transition: 1s;
            margin-top: 30px;
           background: linear-gradient(rgb(0, 0, 0), rgb(23, 30, 89),);
           animation:side 2s ease-out;
  
}
@keyframes side{
    from{transform:translateX(100px);
    opacity:0;}
    to {transform:translateX(0); opacity: 1;}

}
.logotip img{
 border-radius: 100%;
 margin-left: 730px;
 margin-top: -65px;
 transition: 2s;
 border:10px solid rgb(0, 0, 0);
   animation:side 2s ease-out;
 
 box-shadow: 0 0 35px rgb(0, 119, 255);

}
.logotip img:hover{
    box-shadow: 0 0 35px rgb(255, 255, 255);
    transition: 1s;
}



h1{
   color: #fff;
    margin-left: 30%;
    font-style:italic;
    font-size: 45px;
    transition: 1s;
  animation:s 2s ease-out;
  
  height: 110px;
   background:linear-gradient(190deg,rgb(99, 96, 251),rgb(0, 0, 0),rgb(99, 96, 251));
            backdrop-filter: blur(5px);
  width: 500px;
  padding-left: 120px;
  padding-top: 30px;
  border-radius: 100px;
  border: 2px solid rgb(0, 145, 255);
  
  box-shadow: 0 0 35px rgb(0, 145, 255);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1:hover{

transition: 1s;
color: #fafaff;
box-shadow: 0 0 25px white;
border: 2px solid rgb(255, 255, 255);

}
@keyframes sideUp{
    from{transform:translateY(100px);
    opacity:0;}
    to {transform:translateY(0); opacity: 1;}

}
.btn2{
    width: 44px;
    height: 43px;
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    margin-top: 123px;
    margin-left: 50px;
transition: 1s;
border: 2px solid white;
animation:side 2s ease-out;
}
.btn2:hover{
    transform: rotateX(180deg);
background-color: #00b7ff;

    transition: 1s;
}
.btn2 img{
    margin-top: -16px;
    margin-left: -15px;
    width: 31px;
    height: 31px;
    transition: 1.5s;
    border: none;
   animation:side 2s ease-out;
}

  

@keyframes s{
    from{transform: rotateY(-180deg);
    opacity:0;}
    to {transform: rotateX(1deg);opacity: 1;}

}


.nav-links {
 display: flex;
 gap: 140px;
 margin-right: 20%;
 margin-top: 50px;
 padding: 10px;
height: 85%;
 background: linear-gradient(rgb(19, 18, 88),rgb(0, 0, 0));
 padding-left: -200px;
text-decoration: none;
justify-content: left;
width: 98%;
border: 2px solid rgb(0, 149, 255);
box-shadow: 0 0px 25px rgb(0, 102, 255);
transition: 1s;
}



.nav-links li a {
 justify-content:right;
  background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0), rgb(10, 8, 122));
position: absolute;
 font-size: 1.2vw;
 border-radius: 30px;
padding: 10px ;
 text-decoration: none;
 box-shadow: 0px 0px 25px rgb(0, 170, 255);
 color: #fff;
width: 6%;
gap: 20px;
margin-top: 3px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
transition: 0.7s;
margin-left: 100px;
}

 
.nav-links li a:hover{

  background: linear-gradient(180deg, #d8e7ff 0%, #000000 50%, #0611a1 100%);
 transform: translateY(3px);
  box-shadow:
    0 0 8px #3aa9ff,
    inset 0 0 20px rgba(0,0,0,0.7),
    inset 0 10px 20px rgba(255,255,255,0.15);

  color: #ffffff;
  transition: 0.5s;
  
}

.logo{
    position: absolute;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
    width: 40px;
    text-decoration: none;
}
 h5{
    color: #fafaff;
    text-decoration: none;
    
 }
  h5{
    color: #fafaff;
    text-decoration: none;
    
 }
        .cars {
            display:flex;
            flex-wrap: wrap;
           ;
            gap: 50px;
            margin-left:20px ;
            
        }
        .car {

           background: linear-gradient(rgb(0, 0, 0), rgb(13, 16, 47));
            border-radius: 12px;
          border-radius: 30px;
            box-shadow: 0 0px 20px rgb(0, 64, 255);
            transition: transform .2s ease;
            color: #fff;
            height: 30%;
            border: 2px solid rgb(0, 106, 255);
            
            transition: 0.3s;
            width: 30%;
            
            
        }
        .car p{
            padding-left: 13px;
        }
        h3{
            color: #fff;
            font-size: 23px;
            font-style: italic;
        }
        .car:hover {
            transform: scale(1.03);
            box-shadow: 0 0px 35px rgb(0, 119, 255);
            transition: 0.3s;
        }
        .car img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 30px;
              box-shadow: 0 0 20px blue;
             
             
        }
        .car-info {
            padding: 15px;
            gap: 2px;
        }
        
        .price {
            margin: 10px 0;
            font-size: 18px;
            color: #009900;
            font-weight: bold;
        }
        button {
            width: 100%;
            padding: 12px;
            background: #2119ff;
            border: none;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0 0px 25px rgb(83, 99, 225);
        transition: 0.5s;
       
        }
        button:hover {
            background: #0d05a6;
             transition: 0.5s;
        }
        footer {
            margin-top: 20px;
            background: rgba(255,255,255,0.15);
            backdrop-filter: blur(45px);
            color: #fff;
            text-align: center;
            padding: 15px;
            height: 850px;
            border: 2px solid white;
        }
        h2{
            color:white;
            text-shadow: 0 0px 35px rgb(0, 0, 0);
            margin-left: 40%;
            font-size: 39px;
         font-style: italic;
         text-decoration: dashed;
       text-shadow: 0 0 35px rgb(0, 8, 255);
      animation: glow 1.5s ease-in-out infinite alternate;
       transition: 1s;
        }
    
  @keyframes glow {
  0%, 100% {
    text-shadow: 0 0 1px #0d00ff;
  }
  100% {
    text-shadow: 0 0 35px #0d00ff;
  }
}
        
h6{
    font-size: 26px;
    text-decoration: solid;
    margin-left: 70px;
    position: absolute;
    margin-top: -70px;
    color: #0077ff;
    
}
.buttonsip{
 width: 200px;
 height: 50px;
 background: none;
 border: none;
 position: absolute;
margin-top: -400px;
z-index: 100;
box-shadow: none;

}

     .buttonsip:hover{
        background: none;
        border: none;
     }  